@charset "utf-8";
/*CSS Document*/
:root {
    --main-color: #CB8161;
    --box-shadow:0 0 8px rgb(0, 0, 0, 0.3);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;

}

@font-face {
    font-family: bodyfont;
    src: url(Font/Cabin/Cabin-Regular.ttf)
}

@font-face {
    font-family: titlefont;
    src: url(Font/Ogg-Roman.ttf )
}



.icon_style {
    margin-left: 3px;
    font-size: 1rem;
    margin-top: 2px;
}


/* ======================Navi ==================== */
#bgnavi {
    background-color: #fff;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.3);
    
        position: sticky;
        /* top: 0; */
        width: 100%;
        display: block;
        transition: top 0.3s;
       

}

#navi ul li a {
   color: black;
   
 }

 #icons div.heart, #icons div.cart, #hamberger, #search_navi {
    color: black;

}

#cart_navi a , #heart_navi a {
    color: black;
  }

/* =====================Call to action ==================== */
#contact_calltoaction p {
    color: #fff;
    height: 60px;
    line-height: 60px;
  margin-bottom: 0;
  text-align: center;
  font-family: bodyfont;
  

}
#contact_calltoaction {
  background-color: #000;
  
}


/* Keep in tough */
.kit_title {
    font-family: titlefont;
    text-align: center;
}

.kit_text  {
    font-weight: 600;
    font-family: bodyfont;
    text-align: center;
}

/* blogs-body-heading */
#blogs-body-heading  {
    font-family: titlefont;
    text-align: center;
   margin-bottom: 40px;
}

#blogs-body-heading h1 {
    font-size: 5rem;
}

#blogs-body-heading span {
    font-family: bodyfont;
}



/* search input body */

.blog_body-title {
    font-family: titlefont;
    font-size: 2rem;
}
.input-blog-search{
    font-size: 1rem;
    line-height: 1.5;
    border: none;
    background: #f7f7f7;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    border-radius: 5px;
 

    padding: .5em 35% .5em 2.5em;
    
    margin-bottom: 3rem;
    
    } 

/* ul */


.blog_body-ctgrs {
    margin-bottom: 3rem;

}

.blog_body-ctgrs li a {
    position: relative;
    padding-left: 1rem;
    font-family: bodyfont;
}
.blog_body-ctgrs li a:before {
    width: 5px;
    height: 5px;
    background: #363636;
    transform: rotate(-45deg);
    content: "";
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 8px;
}

.blog_body-ctgrs li  {
    margin-bottom: 8px;
}

.blog_body-ctgrs li a {
  color: #000;
  text-decoration: none;
  
}

/* latestpost-img */
.latestpost-frame {
    margin-bottom: 3rem;
}

.Group_blogsinfor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

div.latestpost-img {
    overflow: hidden;
    display: inline-block;
    width: 30%;
    

}

div.latestpost-img img {
    width: 100%;

}

div.latestpost-img img:hover {
    transform: scale(1.2);
    transition: all ease-in-out 3s;
}

div.latestpost-content {
    display: inline-block;
    width: 65%;
    margin: auto 0;
}

div.latestpost-content p a {
color: #000;

}
div.latestpost-content p a:hover {
    color: #CB8161;
    text-decoration: none;
}



.blogs-subtext {
    font-family: bodyfont;
    font-size: 1.2rem;
    font-weight: 500;
}

.blogs-time {
    font-family: bodyfont;
    font-size: 1rem;
    color: #5a5a5a;
}


/* Tags */
.frame {
    margin-bottom:3rem;
}
.tags-frame {
    display: inline-block;
    margin-bottom: 1.5rem;
}
.tags-content {
    color: #000;
    border: 1px solid #000;
    padding: 0.5rem 1rem;

  margin-right: 0.5rem;
}

.tags-content:hover {
    color: #000;
    text-decoration: none;
}
/* adv */

.blogs-adv {
    position: relative;
    margin-bottom: 40px;
}


.blogs-adv img{
width: 100%;
}

.blogs-adv-content {
    width: 80%;

    padding: 0.8rem 0;
    position: absolute;
    text-align: center;
    background-color: rgba(252, 252, 252, 0.5);
    top: 30%;
    /* transform: translateY(-50%); */
    left: 50%;
    transform: translateX(-50%);

}

.blogs-adv-heading {
    
    font-family: bodyfont;
    text-transform: uppercase;
    font-size: 3rem;
}

.blogs-adv-subheading {
    font-family: bodyfont;
    margin-bottom: 2rem;
}

/* blogs full content */
.bolgs-content {
    margin-bottom: 2rem;
}

.bolgs-content a {
    color: #000;
}

/* footer heading */
.bolgs-content a {
    position: relative;
    color: #CB8161;
    font-size: 1.3rem;
 
    font-family:bodyfont ;
    
    }

    .bolgs-content a:hover {
        text-decoration: none;

    }
    
    .bolgs-content a::after {
    position: absolute;
        content: "";
        background-color:#CB8161;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -7px;
        transition: 0.5s;
    
      
    }
    
    .bolgs-content a:hover::after {
    width: 100%;
    }

    .blogs-content_subtext{
        font-family:bodyfont ;
        color: #5a5a5a;
        margin-top: 1rem;
    }
    .blogs-content_title{
        font-family: titlefont;
        font-size: 2rem;
    }
    .blogs-content_des{
        font-family: bodyfont;
    }

    .number_page {
        margin: 0 auto;
    }
    .number_page a {
        color: #000;
        margin: 0 5px;
        font-family: bodyfont;
        font-size: 1.3rem;

    }

    .number_page a:hover {
        text-decoration: none;
    }


/* xl */
@media (min-width: 1200px){

    #blog_comprehen {
        padding: 0 9.5%;
    }

    /* Pattern */
    
    .pattern {
        text-align: center;
        margin: 60px 0;
        
    }
    
        
        #signin {
            padding: 0 9.5%;
        }
       
        
     }
    
    
    
    
    /* lg*/
    
    @media (max-width: 1199.9px) and (min-width: 992px){
    
    
        /* Pattern */
    
    .pattern {
        text-align: center;
        margin: 50px 0;
        
    }
    
        div.signin-header  {
           
            margin-left: 15px;
        
        }
          
    }
    
    /* md */
    @media (max-width: 991px) and (min-width: 768px){
    
        /* Pattern */
    
    .pattern {
        text-align: center;
        margin: 40px 0;
        
    }
    
        div.signin-header  {
           
            margin-left: 15px;
        
        } 
    }
    
    
    
    /* sm */
    
    @media (max-width: 768px) and (min-width: 576px){
        div.signin-header  {
           
            margin-left: 15px;
        
        }  
    
            /* Pattern */
    
    .pattern {
        text-align: center;
        margin: 35px 0;
        
    }
    }
    
    /* m */
    @media (max-width: 575.9px) and  (min-width: 400px) {
    
            /* Pattern */
    
    .pattern {
        text-align: center;
        margin: 30px 0;
        
    }
    
        div.signin-header  {
           
            margin-left: 15px;
     
        }
    
    
        #signin .form-signin {
            width: 95%;
            
        }
    }
    
    @media (max-width:399.9px) and (min-width: 319px){
    
                /* Pattern */
    
    .pattern {
        text-align: center;
        margin: 30px 0;
        
    }
     
        div.signin-header  {
           
            margin-left: 15px;
        
        }
    
        
    
        #signin .form-signin {
            width: 95%;
            
        }
    }