@charset "utf-8";
/*CSS Document*/
:root {
    --main-color: #CB8161;
    --box-shadow:0 0 8px rgb(0, 0, 0, 0.3);
}

html {
    scroll-behavior: smooth;

}

@font-face {
    font-family: bodyfont;
    src: url(Font/Cabin/Cabin-Regular.ttf)
}

@font-face {
    font-family: titlefont;
    src: url(Font/areminiscentsmile/areminiscentsmile-Regular.ttf )
}




.icon_style2 {
    margin-right: 5px;
    font-size: 1rem;
    margin-top: 3px;
}

.icon_style_product {
  font-size: 1rem;
  margin-left: 3px;
  
}

#icons {
  padding: 0;
}

/* navi */


#bgnavi {
    background-color: #fff;
    box-shadow: 0 -5 4px rgb(0, 0, 0, 0.3);
    
        position: sticky;
        /* top: 0; */
        width: 100%;
        display: block;
        transition: top 0.3s;
       
  
  }
  
  
  #navi ul li a {
    color: black;
    
  }
  
  
  #icons div.heart, #icons div.cart, #hamberger, #search_navi {
    color: black;
  
  }
  

  
  
  /* call to action */
  
  .product_language {
    padding-right: 0;
  }
  
  #productheader_cta {
      height: 60px;
      background-color: #fff;
      border-bottom: 1px solid #757677;
  }
  
  #productheader_cta p {
      color: black;
      height: 60px;
      line-height: 60px;
    margin-bottom: 0;
    text-align: center;
    font-family: bodyfont;
   
  
  } 
  
  #productheader_cta p.language {
      text-align: left;
  }
  
  #productheader_cta  p.curency {
      text-align: left;
  }
  
  
  
  /* =====================Call to action ==================== */
  #contact_calltoaction p {
      color: #fff;
      height: 40px;
      line-height: 40px;
    margin-bottom: 0;
    text-align: center;
    font-family: bodyfont;
    font-size: 14px;
  
  }
  #contact_calltoaction {
    background-color: #000;
    
  }

/* =============== */
.linkviaweb {
    padding-left: 15px;

}
  .linkviaweb p {
    display: inline-block;
    margin-right: 1rem;
}

.linkviaweb p a {
    color: #5a5a5a;
}

.linkviaweb p a:hover {
    text-decoration: none;
}

.wishlist_text {
    font-family: bodyfont;
    margin-top: 3rem;
    
    margin-bottom: 100px;
    text-align: center;
   
}

.wishlist_text img {
    width: 60%;
}

.wishlist_text p {
    text-transform: uppercase;
    font-size: 3rem;
}




  /* xl */
@media (min-width: 1200px){

 
    .product_comprehen {
        padding: 0 9%;
    }
.linkviaweb {
    padding-left: 0px;
}
    /* Pattern */
    
    .pattern {
        text-align: center;
        margin: 60px 0;
        
    }
    
        
        #signin {
            padding: 0 9.5%;
        }
       
        
     }



/* lg*/

@media (max-width: 1199.9px) and (min-width: 992px){

 

    /* Pattern */

.pattern {
    text-align: center;
    margin: 50px 0;
    
}

    div.signin-header  {
       
        margin-left: 15px;
    
    }
      
}

/* md */
@media (max-width: 991px) and (min-width: 768px){

    /* Pattern */

.pattern {
    text-align: center;
    margin: 40px 0;
    
}

    div.signin-header  {
       
        margin-left: 15px;
    
    } 
}



/* sm */

@media (max-width: 768px) and (min-width: 576px){
    div.signin-header  {
       
        margin-left: 15px;
    
    }  

        /* Pattern */

.pattern {
    text-align: center;
    margin: 35px 0;
    
}

.wishlist_text p {
    text-transform: uppercase;
    font-size: 2rem;
}
}

/* m */
@media (max-width: 575.9px) and  (min-width: 400px) {

        /* Pattern */

.pattern {
    text-align: center;
    margin: 30px 0;
    
}

    div.signin-header  {
       
        margin-left: 15px;
 
    }


    #signin .form-signin {
        width: 95%;
        
    }
    .wishlist_text p {
        text-transform: uppercase;
        font-size: 1.5rem;
    }
}

@media (max-width:399.9px) and (min-width: 319px){

            /* Pattern */

.pattern {
    text-align: center;
    margin: 30px 0;
    
}
 
   

    .wishlist_text p {
        text-transform: uppercase;
        font-size: 1.23rem;
    }
}

