@charset "utf-8";
/*CSS Document*/
:root {
    --main-color: #CB8161;
    --box-shadow:0 0 8px rgb(0, 0, 0, 0.3);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;

}

@font-face {
    font-family: bodyfont;
    src: url(Font/Cabin/Cabin-Regular.ttf)
}

@font-face {
    font-family: titlefont;
    src: url(Font/Ogg-Roman.ttf )
}

.iconstyle2 {
  padding-right: 10px;
}

/* Reset */
* {
  box-sizing:border-box; 
  outline:none;
  margin:0;
  padding:0;
}
ul {
  list-style:none;
}


  /* ================== ====================== */
 
  .mobile_account img {
  /* position: absolute; */
width: 130px;
/* margin-top: 60px; */
margin-left: 20px;
}



  label {
  margin-bottom: 0;
}

  .nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  display: none;
  max-height: 100%;
  padding: 0;
  animation: fakeIn linear 0.3s;
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  max-width: 100%;
  background-color: #FFF;
  z-index: 11;

  transform: translateX(-150%);
  transition: transform linear 0.4s;
}

.nav_mobile-list {
margin-top: 20px;
margin-left: 20px;
}

.nav_mobile-list li a {
  font-family: bodyfont;
  text-decoration: none;
  color: #000;
}

.hamberger {
  cursor: pointer;
}


.nav__mobile-close i {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 1.9rem;
  right: 1rem;
  /* color: #9e9e9e; */
  color: black;
}

.nav_mobile-link {
     text-decoration: none;
     /* color: #9e9e9e; */
  color: black;

     display: block;
     font-size: 1.4rem;
     padding: 8px;
}

/* ======= */
.nav__input:checked ~ .nav__overlay {
  display: block;
}

.nav__input:checked ~ .nav__mobile {
  transform: translateX(0);

}

@keyframes fakeIn{
  from{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* ============================Accrodiong */


.accordion {
  /* background-color: black; */

max-width: 1000px;
/* margin: 2rem auto; */
padding: 0;
margin-top: 1rem;
margin-bottom: 1rem;
}
.accordion-item {

color: #fff;
margin-top: 1.5rem;

}
.accordion-item-header {
/* padding: 0.5rem 3rem 0.5rem 1rem; */
min-height: 2rem;
/* line-height: 1.25rem; */
font-weight: bold;
display: flex;
align-items: center;
position: relative;
cursor: pointer;
font-family: bodyfont;
font-size: 1.1rem;
font-weight: 900;
text-transform: uppercase;
margin-top: -10px;
}
.accordion-item-header::after {
content: "\002B";
font-size: 2rem;
position: absolute;
right: 1rem;
}
.accordion-item-header.active::after {
content: "\2212";
}
.accordion-item-body {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
/* padding: 1rem; */
padding-left: 1rem;
line-height: 1.5rem;
/* border-top: 1px solid; */
/* border-image: linear-gradient(to right, transparent, ##b07a56, transparent) 1; */
}

.accordion-item-body-content a {
  text-decoration: none;
  color: #FFF;
}


/* ============================Accrodiong mobile */


.accordion-mobile {
  /* background-color: black; */

max-width: 1000px;
/* margin: 2rem auto; */
padding: 0;
margin-top: 1rem;
margin-bottom: 1rem;
}
.accordion-item-mobile {

color: black;
margin-top: 1.3rem;

}


.ac_mobile {
  text-transform: capitalize;

}


.accordion-item-mobile .accordion-item-header::after {
  /* content: none; */
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  }
  .accordion-item-header.active::after {
  content: "\2212";
  }

  

.ac_mobile {
  padding-left: 1rem;
}

.mobile_link {
  color: #000;
}

.accordion-item-body-content-mobile {
  border-bottom: 1px solid #e9e9e9;

}
.accordion-item-body-content-mobile a {
  text-decoration: none;
  color: #9e9e9e;
padding-left: 2rem;
text-decoration: none;
font-family: bodyfont;



}
a.mobile_link:hover {
  text-decoration: none;
  color: #000;
}

/* .carousel-indicators li {
  border-bottom: 0;
} */


/* ============================Eding Accrodiong mobile */


/* ============================Accrodiong for product filter */


.accordion {
  /* background-color: black; */

max-width: 1000px;
/* margin: 2rem auto; */
padding: 0;
margin-top: 1rem;
margin-bottom: 1rem;
}
.accordion-item-1 {
position: absolute;
color: black;
padding: 0;

}


#product_filter   .accordion-item-header {
padding: 0.75rem 0 0.5rem 0;
min-height: 2rem;
/* display: flex; */
align-items: center; 
position: relative;
cursor: pointer;
font-family: bodyfont;
font-size: 1rem;
text-transform: capitalize;

}

.accordion-item-1 .accordion-item-header::after {
content: "\002B";
content: none;

display:block;
font-size: 2rem;
position: absolute;
top: 5px;

right: 1rem;
transition: all ease-in-out 0.3s;

}
.accordion-item-header.active::after {
/* content: "\2212"; */
transition: all ease-in-out 0.3s;
content: none;

}
.accordion-item-body-product {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}
.accordion-item-body-content-product {
/* padding: 1rem; */
padding-left: 1rem;
line-height: 1.5rem;
/* border-top: 1px solid; */
/* border-image: linear-gradient(to right, transparent, ##b07a56, transparent) 1; */
}

.accordion-item-body-content-product a {
  text-decoration: none;
  color: black;
}

/* ===========================Ending Accrodiong for product filter */



/* Hover */
/* Hover Subnavigation */


/* *:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.underline-btn:before, .underline-btn:after {
  content: "";
  display: block;
  position: absolute;
  height: 1.5px;
  width: 0;
}
.underline-btn:before {
  transition: width 0s ease, background 0.4s ease;
  left: 0;
  right: 0;
  bottom: -3px;
}
.underline-btn:after {
  right: 2.2%;
  
  background: #CB8161;
  transition: width 0.4s ease;
} */
/* .underline-btn:hover:before {
color: #CB8161;
  width: 97.8%;
  background: #CB8161;
  transition: width 0.4s ease;
}
.underline-btn:hover:after {
  width: 97.8%;
  background: 0 0;
  transition: all 0s ease;
} */


/* media */
@media (max-width: 575px) {
  .mobile_account img {
width: 120px;
 

  }

  .nav__mobile {
    width: 60%;
  }

  .nav_mobile-list {
    margin-top: 10px;
    margin-left: 20px;
    }



}




/* Animation */
.reveal{
  position: relative;
  transform: translateY(90px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}