@charset "utf-8";
/*CSS Document*/
:root {
    --main-color: #CB8161;
    --box-shadow:0 0 8px rgb(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;

}

@font-face {
    font-family: bodyfont;
    src: url(Font/Cabin/Cabin-Regular.ttf)
}

@font-face {
    font-family: titlefont;
    src: url(Font/areminiscentsmile/areminiscentsmile-Regular.ttf )
}

/* navi */

/* ======================Navi ==================== */
#bgnavi {
    background-color: #fff;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.3);
    
        position: sticky;
        /* top: 0; */
        width: 100%;
        display: block;
        transition: top 0.3s;
       

}

#navi ul li a {
   color: black;
   
 }

 #icons div.heart, #icons div.cart, #hamberger, #search_navi {
    color: black;

}

/* =====================Call to action ==================== */
#contact_calltoaction p {
    color: #fff;
    height: 60px;
    line-height: 60px;
  margin-bottom: 0;
  text-align: center;
  font-family: bodyfont;
  

}
#contact_calltoaction {
  background-color: #000;
  
}


/* sign in up*/


#signin {
    margin-bottom: 60px;
}
 .signin-header p {
    display: inline-block;
}

.signin-header p a {
    color: #5a5a5a;
    font-weight: 500;


}

.signin-header p a:hover {
    text-decoration: none;
    color: #CB8161;
}


#signin div.form-signin {
    text-align: center;
    font-size: 1rem;
}

#signin .form-signin {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-family: bodyfont;
}

#signin h3 {
    font-family: titlefont;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}


.fa-google:before {
    content: "\f1a0";
    position: absolute;
    left: 15px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
 }

 .fa-facebook:before {
    content: "\f09a";
    position: absolute;
    left: 15px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1.3rem;

}

.social-list a {
    display: block;
    height: 50px;
    width: 100%;
    border: 2px solid #e8e8eb;
    text-align: center;
    
    line-height: 45px;
    font-weight: 500;
    position: relative;
    color: #000;
    margin-bottom: 1rem;
font-family: bodyfont;
font-weight: 500;
font-size: 1rem;

}

.social-list a:hover {
    text-decoration: none;
}

.social-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 23px;
    font-size: 14px;
}

 .social-line span {
    margin: 0 30px;
}

.social-line:before {
    content: "";
    flex: 1 0 0%;
    border-bottom: 1px solid rgba(113,116,136,.1);}

 .social-line:after {
        content: "";
        flex: 1 0 0%;
        border-bottom: 1px solid rgba(113,116,136,.1);}


    .jws-animation form p {
        margin: 0;
        margin-bottom: 20px;
        position: relative;}

#signin label {
    position: absolute;
    left: 0;
}

.lost-pass-link {
    position: absolute;
    right: 0;
    color:#CB8161;
    font-weight: 500;
}

.lost-pass-link:hover {
    text-decoration: none;
    color: #CB8161;
}

.login-btn {
    margin-top: 4rem;
    background-color: #000;
    color: white;
    border: none;
    padding: 0;
    height: 50px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
}

.login-btn:hover {
    background-color: #CB8161;
}

.login-btn p {
    line-height: 50px;
    font-family: bodyfont;
    font-size: 1rem;
    font-weight: 500;
}

.register {
    color: #5a5a5a;

}
.register:hover {
    text-decoration: none;
    color: #000;
}

.create-account {
    color: #CB8161;
}

.login-username input, .login-password input {
    display: block;
    height: 50px;
    width: 100%;
    border: 2px solid #e8e8eb;
    text-align: left;
    line-height: 45px;
    font-weight: 500;
    position: relative;
    color: #000;
    margin-bottom: 1rem;
    font-family: bodyfont;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem;
    
}













/* xl */
@media (min-width: 1200px){

/* Pattern */

.pattern {
    text-align: center;
    margin: 60px 0;
    
}

    
    #signin {
        padding: 0 9.5%;
    }
   
    
 }




/* lg*/

@media (max-width: 1199.9px) and (min-width: 992px){


    /* Pattern */

.pattern {
    text-align: center;
    margin: 50px 0;
    
}

    div.signin-header  {
       
        margin-left: 15px;
    
    }
      
}

/* md */
@media (max-width: 991px) and (min-width: 768px){

    /* Pattern */

.pattern {
    text-align: center;
    margin: 40px 0;
    
}

    div.signin-header  {
       
        margin-left: 15px;
    
    } 
}



/* sm */

@media (max-width: 768px) and (min-width: 576px){
    div.signin-header  {
       
        margin-left: 15px;
    
    }  

        /* Pattern */

.pattern {
    text-align: center;
    margin: 35px 0;
    
}
}

/* m */
@media (max-width: 575.9px) and  (min-width: 400px) {

        /* Pattern */

.pattern {
    text-align: center;
    margin: 30px 0;
    
}

    div.signin-header  {
       
        margin-left: 15px;
 
    }


    #signin .form-signin {
        width: 95%;
        
    }
}

@media (max-width:399.9px) and (min-width: 319px){

            /* Pattern */

.pattern {
    text-align: center;
    margin: 30px 0;
    
}
 
    div.signin-header  {
       
        margin-left: 15px;
    
    }

    

    #signin .form-signin {
        width: 95%;
        
    }
}